.container{
    width: 250px;
    height: 150px;
    background-color: aqua;
    padding: 5px;
    border: 2px solid red;
    margin: 10px;
    border-radius: 5px;
    margin-top: 50px;
}
.visible{
    overflow: visible;

}
.hidden{
    overflow: hidden;

}
.scroll{
    overflow: scroll;

}
.auto{
    overflow: auto;

}