

.box1{
    font-size: 25px;
    height: 40px;
    width: 80px;
    background-color: #87a312;
}
.box2{
    font-size: 25px;
    height: 40px;
    width: 80px;
    background-color: #4a4b45;
}
.box3{
    font-size: 25px;
    height: 40px;
    width: 80px;
    background-color: #a31269;
}